language: go

go_import_path: dinowernli.me/almanac

env:
  global:
    - PROTOC_RELEASE="https://github.com/google/protobuf/releases/download/v3.2.0/protoc-3.2.0-linux-x86_64.zip"
    - PROTOC_TARGET="${HOME}/protoc"
    - PATH="${PROTOC_TARGET}/bin:${PATH}"

cache:
  - "${HOME}/protoc"

install:
  - if [ ! -d "${PROTOC_TARGET}" ]; then curl -fsSL "$PROTOC_RELEASE" > "${PROTOC_TARGET}.zip"; fi
  - if [ -f "${PROTOC_TARGET}.zip" ]; then unzip "${PROTOC_TARGET}.zip" -d "${PROTOC_TARGET}"; fi
  - go get -u github.com/golang/protobuf/{proto,protoc-gen-go}
  - tools/fetch-deps.sh
  - dep ensure

script:
  - tools/lint.sh
  - go vet ./...
  - tools/genproto.sh --check
  - tools/gendata.sh --check
  - go build ./...
  - go test ./...

